<!DOCTYPE html>
<html>
  <head>
    <title>Immo Scraper Report</title>
    <style type="text/css">
      span.bold {font-weight: bold;}
      table.noborder {border: 0px; padding: 8px;}
      th {text-align: left;}
    </style>
  </head>
  <body>
    <p>
      Hallo {{ dear }},
    </p>

    <p>
        {{ msg }}
    </p>
    
    <p>
      -- <br />
      Viel Spass!
    </p>
  </body>
</html>