<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ data.subject }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
  </head>
  <body>
    <p>
      Hallo {{ data.name }},
    </p>
    <p>
        Es gibt folgende neuen Inserate. Viel Spaß!
    </p>
    
    {% for entry in data.entries %}
    <p>
        <div class="ui segment">
            <a target="_blank" href="{{ entry.url }}" class="ui medium bordered rounded left floated image">
                <img src="{{ entry.picture_url }}">
            </a>
            <div class="ui small header">{{ entry.title }}</div>
            <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                        <td>Haustyp:</td>
                        <td>{{ entry.house_type }}</td>
                    </tr>
                    <tr>
                        <td>Größe Haus:</td>
                        <td>{{ entry.size_house }} qm</td>
                    </tr>
                    <tr>
                        <td>Größe Grundstück:</td>
                        <td>{{ entry.size_ground }} qm</td>
                    </tr>
                    <tr>
                        <td>Preis:</td>
                        <td>{{ entry.price }} EUR</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p>
    {% endfor %}


    <p>
      ---- <br />
    </p>
  </body>
</html>